{% extends '../layout.html' %}
{% load static %}


{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'demand/css/index.css' %}">
{% endblock %}

{% block title %}
    Востребованность
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class='page-title'>
        <img class='title-img' src="{% static 'main/img/python-logo.png' %}">
        <span class='title-text text'>Востребованность</span>
    </div>
    <div class='charts'>
        <div class='chart-block'>
            <label class='chart-title text'>Средняя З/П по годам (в т.р.)</label>
            <canvas width="500" height="500" id='money_chart'></canvas>
        </div>
        <div class='chart-block'>
            <label class='chart-title text'>Количество вакансий по годам (в млн.)</label>
            <canvas width="500" height="500" id='vacancies_chart'></canvas>
        </div>
        <div class='chart-block'>
            <label class='chart-title text'>Средняя З/П python-программиста по годам (в т.р.)</label>
            <canvas width="500" height="500" id='profmoney_chart'></canvas>
        </div>
        <div class='chart-block'>
            <label class='chart-title text'>Количество вакансий python-программиста по годам (в т.)</label>
            <canvas width="500" height="500" id='profvacancies_chart'></canvas>
        </div>
    </div>
{% endblock %}

{% block footer%}
    <script type="text/javascript" src="{% static 'demand/js/index.js' %}"></script>
{% endblock %}